<mat-card>
    <mat-card-title>Alterar Tarefa</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="task.descricao" name="descricao"/>
        </mat-form-field>
        <div fxLayout="row wrap">
            <div fxFlex="50" fxFill fxLayoutAlign="start center">
                <mat-form-field>
                    <mat-label>Horário da tarefa</mat-label>
                    <input matInput type="time" placeholder="" [(ngModel)]="task.hora" name="hora"/>
                </mat-form-field>
            </div>
            <div fxFlex="50" fxFill fxLayoutAlign="start center">
                <mat-form-field>
                    <mat-label>Selecione a Data</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="task.data" name="data">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
    <button mat-raised-button (click)="updateTask()" color="primary">
        Atualizar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
